/*
======== :: INDEX OF CSS :: *******
:: 1.0 WEB FONTS 
:: 2.0 GLOBAL Variable Define CSS
:: 3.0 COMMON CSS 
:: 4.0 Navbar CSS
:: 5.0 HOME CSS
:: 6.0 About CSS 
:: 7.0 Portfolio CSS
:: 8.0 Contact CSS
:: 9.0 Footer CSS
:: 10.0 Scroll Top CSS
    ============================================= */

/*  =============================================
:: 1.0 WEB FONTS
    ============================================= */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

/*  ================================================
    :: 2.0 GLOBAL Variable Define CSS
        ================================================ */
* {
  margin: 0;
  padding: 0;
}

:root {
  /* Background Color */
  --primary-color: #ff8882;
  --bg-white: #fff;
  --bg-black: #2c2c2c;
  --bg-light-pink: #ff007a;
  --bg-light-gray: #f6f9fe;
  --bg-light-blue: #f0f8ff;
  --bg-gradient: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116, 1) 100%);
  --bg-card-shodow: 0 0.188rem 1.25rem 0px rgba(0, 0, 0, 0.06);
  --bg-card-shodow: 0 2rem 5rem rgb(0, 0, 0, 0.06);
  --bg-light-gray-1: #eee;

  /* Text Color */
  --primary-font: "Poppins", sans-serif;
  --text-primary: #ff8882;
  --text-white: #fff;
  --text-black: #0E2431;
  --text-light-black: #444;
  --text-light-pink: #ff007a;
  --text-light-gray: #7e8085;
}

/*  ================================================
    :: 3.0 COMMON CSS
        ================================================ */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.75rem;
  background: var(--bg-light-blue);
  color: var(--text-black);
  overflow-x: hidden;
}

/* ========================================================
               Custom Scroll Bar CSS 
=========================================================== */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}


h1 {
  color: var(--text-black);
  font-size: 3.563rem;
  line-height: 4.563rem;
  letter-spacing: 0.125rem;
  font-weight: 400;
}

h2 {
  color: var(--text-light-black);
  font-size: 2.875rem;
  line-height: 3.75rem;
  font-weight: 600;
}

h3 {
  font-size: 1.563rem;
  font-weight: 400;
  color: var(--text-light-gray);
  line-height: 2.375rem;
}

h5 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.063rem;
  line-height: 1.688rem;
  color: var(--text-light-black);
  text-transform: uppercase;
}

section,
.section {
  position: relative;
}

.container {
  width: 100%;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--text-light-black);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
  color: var(--text-primary);
}

a,
a:hover,
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

ol li,
ul li {
  list-style: none;
}

button,
button:focus {
  outline: none;
  box-shadow: none;
}

img {
  height: auto;
  max-width: 100%;
}

.btn,
.btn:active,
.btn.sApp-btn:before,
.bg-overlay::after {
  background: var(--primary-color);
}

.btn:hover {
  color: var(--text-white);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/*SECTION PADDING*/
.ptb_100 {
  padding: 100px 0;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  /* แนวตั้ง */
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*  ================================================
    :: 4.0   Navbar CSS
        ================================================ */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: transparent;
}

.navbar .navbar-nav .nav-link {
  padding: 1.875rem 1.25rem;
  color: var(--text-white);
  text-transform: capitalize;
  transition: 0.3s;
}

.navbar-brand img {
  max-width: 50%;
}

/* On Scroll Fixed Navbar  */
.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-sticky-on .navbar-nav .nav-link.active {
  color: var(--text-primary);
}

.navbar-sticky-on .navbar-nav .nav-link {
  color: var(--text-light-gray);
}

.navbar .navbar-brand-sticky {
  display: none;
}

.navbar-sticky-on .navbar-brand-regular {
  display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
  display: inline;
}

.navbar-sticky {
  -webkit-transition: none;
  transition: none;
  background: var(--primary-color);
  font-size: 1.125rem;
}

.navbar-sticky-transitioned {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-sticky-moved-up {
  position: fixed;
  top: 0;
  background: var(--bg-white);
  margin-top: -6.25rem;
}

.navbar-sticky-on {
  margin-top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.navbar-toggler :focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}


/*  ================================================
:: 5.0 HOME Section CSS
================================================ */
#home {
  /* min-height: 900px; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

#home .home_text h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.938rem;
  color: var(--text-light-black);
  padding: 1.063rem 0;
}

#home .home_text p {
  font-size: 1rem;
  color: var(--text-white);
  padding: 1.063rem;
}

#home .home-link-social {
  padding: .5rem 3rem;
  margin-left: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-link-social a.fab {
  font-size: 2.5rem;
  margin: 0 .5rem;
    color: var(--text-primary);
}

.home-link-social a.resume{
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.home-link-social .fab:hover {
  transform: translateY(-0.313rem);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transform:scale(1.5);
}

/* profileText */
.profileText .imgBx {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  /* border: 2px solid white; */
}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  ================================================
:: 6.0 About CSS
    ================================================ */
#about .aboutme {
  /* min-height: 600px; */
  height: 100%;
  /* overflow: hidden; */
}

#about .titleabout {
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--text-light-black);

}

#about .titleabout span {
  position: relative;
}

#about .titleabout span::before,
#about .titleabout span::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--primary-color);
  left: 0;
  bottom: 0;
  border-radius: 10px;
}

.profileText .imgAbout {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgAbout img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about .aboutme .aboutDetail {
  padding: 3rem;
}

#about .aboutme .aboutDetail h3 {
  font-size: 1.563rem;
  font-weight: 400;
  color: var(--text-light-black);
  line-height: 2.375rem;
}

#about .aboutme .aboutDetail h5 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.063rem;
  line-height: 1.688rem;
  color: var(--text-primary);
  text-transform: uppercase;
}

/*  Custom nav trap */
.aboutDetail ul.nav-pills {
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  padding: 10px;
}

.aboutDetail ul li button {
  text-transform: uppercase;
  font-weight: 700;
}

.aboutDetail ul li .nav-link {
  border-radius: 7px;
  font-size: 15px;
  /* padding: 0 5rem; */
  font-weight: 500;
  transition: all 0.45s cubic-bezier(0, 0, 0.2, 1);
  display: inline-block;
  color: var(--text-light-black);
  border: 0;
  transition: 0.3s;
}

.aboutDetail ul li .nav-link {
  padding: 10px;
}

.aboutDetail ul li .nav-link.active {
  background: var(--primary-color);
  color: var(--text-white);
  padding: 10px;
}

.aboutDetail ul li .nav-link:hover {
  color: var(--text-light-black);
  border: 1px solid var(--primary-color);
}

.aboutDetail .box {
  display: flex;
  align-items: center;
}


#about .aboutme .aboutDetail h3.posit {
  font-size: 1.563rem;
  font-weight: 500;
  color: var(--text-primary);
  line-height: 2.375rem;
}

#about .aboutme .aboutDetail .box-experain h4.intern {
  color: var(--text-black);
  font-size: 1.125rem;
  font-weight: 700;
}

#about .aboutme .aboutDetail .box-experain h4 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.063rem;
  line-height: 1.688rem;
  color: var(--text-light-gray);
  text-transform: uppercase;
}

.skills-icon {
  text-align: center;
  background: var(--bg-light-blue);
}

.skills-icon img {
  width: 100px;
  height: 100px;
}

.skills-icon .boxImg {
  padding-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}
.skills-icon .boxImg:hover {
cursor: pointer;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2),
inset 10px 10px 10px rgba(0, 0, 0, 0.1),
-10px -10px 10px rgba(253, 252, 252, 1);
}

#about .aboutme .aboutDetail .skills-icon .boxImg h3 {
  font-size: 1.563rem;
  font-weight: 500;
  color: var(--text-light-black);
  line-height: 2.375rem;
}


/*  ================================================
:: 7.0 Portfolio CSS
    ================================================ */
#portfolio .container {
  margin-bottom: 100px;
  padding-top: 50px;
}


#portfolio .titleport {
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--text-light-black);

}

#portfolio .titleport span {
  position: relative;
}

#portfolio .titleport span::before,
#portfolio .titleport span::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--primary-color);
  left: 0;
  bottom: 0;
  border-radius: 10px;
}

#portfolio .boxImg {
  /* text-align: center; */
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  background: var(--bg-white);
  /* min-height: 250px; */
  max-height: 250px;
}

#portfolio .boxImg:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2),
  inset 10px 10px 10px rgba(0, 0, 0, 0.1),
  -10px -10px 10px rgba(253, 252, 252, 1);
  }


#portfolio .boxImg img {
  width:100%;
  height: 200px;
/* object-fit: cover; */
}


#portfolio h3 {
  text-align: center;
  font-size: 1.35rem;
  font-weight: 500;
  color: var(--text-light-black);
  line-height: 2.375rem;
}

.btnView {
  padding: 10px 50px;
  border-radius: 7px;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}

.btnView:active,
.btnView:hover {
  background: var(--bg-white);
  color: var(--text-primary) !important;
  border: 2px solid var(--primary-color);
}

/*  ================================================
:: 8.0 Contact CSS
    ================================================ */
/* #contact {
  padding: 100px;
} */


.contact .titlecontact span {
  position: relative;
  font-size: 1.875rem !important;
  font-weight: 600;
  color: var(--text-light-black);
}

.contact .titlecontact span::before,
.contact .titlecontact span::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--primary-color);
  left: 0;
  bottom: 0;
  border-radius: 10px;
}

#contact .contact .fas,
#contact .contact span {
  font-size: 1.25rem;
  color: var(--text-light-black);
}

#contact .contact span {
  font-weight: 600;
}



/*  ================================================
:: 8.0 Footer CSS
    ================================================ */
/* footer, */
.copyright {
  background: var(--primary-color);
}

.copyright i,
.copyright span {
  margin: 50px 5px;
  font-size: 1.45rem;
}
.copyright i{
  color: var(--text-white);
}
.copyright span {
  color: var(--text-white);
  font-weight: 500;
}




/*  ================================================
:: 9.0 Scroll Top CSS
    ================================================ */
#scrollUp {
  position: fixed;
  right: 2%;
  bottom: 9%;
  height: 2.813rem;
  width: 2.5rem;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
  z-index: 500;
  display: none;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  background: var(--primary-color);
  border: 2px solid var(--bg-white);
}

#scrollUp .fas {
  line-height: 2.625rem;
  color: var(--text-white);
  font-size: 1.5rem;
}

#scrollUp.scrollActive {
  display: block;
}